#email {
    &__section {
        min-height: em(250px);
    }

    &__wrapper {
        @include wrapper-styles();
        text-align: center;
    }

    &__title {
        @include title-styles();
    }

    &__input {
        @include input-field-styles();
    }

    &__submit {
        @include button-styles($successGreen);
        height: em(35px);
    }

    &__label {
        @include input-label-styles();
    }
}

.input__msg {
    @include input-msg-styles();
}

.success-class {
    color: $successGreen;
}