#header {
    &__section {
        border-bottom: em(2px) solid red;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        min-height: em(120px);
    }

    &__title {
        text-shadow: 0 0 15px $aqua;
    }
}