#nav {
    &__section {
        border-bottom: em(1px) solid red;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        min-height: em(50px);
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: em(25px);

        @include media-query(small) {
            flex-direction: row;
            column-gap: em(100px);
        }

        @include media-query(medium) {
            column-gap: em(150px);
        }

        @include media-query(large) {
            flex-direction: row;
            column-gap: em(200px);
        }
    }
}

.nav__item {
    padding: em(5px) 0;
    &:hover {
        & > a {
            color: $aqua;
            text-decoration: underline;
            text-underline-offset: em(3px);
        }
    }
}



.active-nav-styles {
    color: $aqua;
    text-decoration: underline;
    text-underline-offset: em(3px);
}