#nav {
    &__section {
        border-bottom: em(1px) solid red;
    }

    &__wrapper {
        display: flex;
        justify-content: center;

        height: em(50px);
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;

        column-gap: em(150px);

        font-size: em(25px);
    }
}

.nav__item:hover {
    & > a {
        color: $aqua;
        text-decoration: underline;
        text-underline-offset: em(3px);
    }
}

.active-nav-styles {
    color: $aqua;
    text-decoration: underline;
    text-underline-offset: em(3px);
}