#results {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: em(20px);
    }

    &__title {
        @include title-styles();
    }
    


}

.results {
    &__item {
        @include wrapper-styles();
        border: 1px solid red;

    }

    &__email {
        @include title-styles();
    }

    &__img__box {
        border: 1px solid blue;
    }

    &__image {
        width: em(200px);
        border-radius: em(5px);
        border: 1px solid aqua;

        @include media-query(small) {
            width: em(400px);
        }

        @include media-query (medium) {
            width: em(550px);
        }
    }
}