#results {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: em(20px);
    }

    &__title {
        @include title-styles();
        text-align: center;
    }
    


}

.results {
    &__item {
        @include wrapper-styles();
        border: em(2px) solid $aqua;
        border-radius: em(5px);
        margin-bottom: em(30px);

    }

    &__email {
        @include title-styles();
        text-align: center;
        padding-bottom: em(10px);
        border-bottom: em(2px) solid red;
    }

    &__img__box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        row-gap: em(30px);
        column-gap: em(30px);

        
    }

    &__image {
        width: em(180px);
        border-radius: em(5px);
        border: em(2px) solid aqua;

        @include media-query(large) {
            width: em(250px);
        }
    }
}